<!DOCTYPE html>
<html>
    <head>
        <title>WishList</title>

        <!-- Handles styling the page to be more aesthetically pleasing -->
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        <p>An error has occured. Please try again</p>
    </body>
</html>